/*!общие стили*/
html {
	box-sizing: border-box;
}
 *, *::before, *::after {
	box-sizing: inherit;
	padding-inline-start: 0;
}
.pets {
	background-color: #1F1C1D;
}
body {
	margin: 0;
	padding: 0;
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 16px;
	line-height: 1.5;
	font-weight: 400;
	font-style: normal;
	color: #ffffff;
	background-color: #181617; /*черный*/
	
}
ul {
	list-style-type: none;
	margin-block-start: 0;
	margin-block-end: 0;
}
p {
	margin-block-start: 0;
	margin-block-end: 0;
}
h1, h2 {
	font-family: "Yeseva One", "Times New Roman", serif;
	font-size: 28px;
	line-height: 1.2;
	font-weight: 400;
	font-style: normal;
	color: #ffffff;
	margin-block-start: 0;
	margin-block-end: 0;
}
@media screen and (min-width: 768px) {
	h2 {
		font-size: 36px;
	}
}
a {
	text-decoration: none;
}
img {
	max-width: 100%;
	height: auto;
}
.visually-hidden {
	width: 1px;
	height: 1px;
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute;
}

/*!стили для header*/
.page-header {
	max-width: 320px;
	margin: 0 auto;
	padding-bottom: 276px;
	background: url('../img/header-bkg-mobile.png') no-repeat right bottom;
}
@media screen and (min-width: 768px) {
	.page-header {
		max-width: 768px;
		margin: 0 auto;
		padding-bottom: 0;
		background: url('../img/header-bkg-tablet.png') no-repeat right bottom;
	}
}
@media screen and (min-width: 1366px) {
	.page-header {
		max-width: 1366px;
		background: url('../img/header-bkg-display.png') no-repeat right bottom;
	}
}
.page-header__inner-wrapper {
	padding-top: 25px;
	text-align: center;
}
@media screen and (min-width: 1366px) {
	.page-header__inner-wrapper {
		padding-top: 43px;
	}
}
@media screen and (min-width: 768px) {
	.page-header__inner-wrapper {
		padding-left: 43px;
		padding-bottom: 40px;
	}
}
@media screen and (min-width: 1366px) {
	.page-header__inner-wrapper {
		padding-bottom: 58px;
	}
}
.page-header__logo {
	display: block;
	margin-bottom: 43px;
}
@media screen and (min-width: 768px) {
	.page-header__logo {
		margin-left: -45px; 
		margin-bottom: 83px;
	}
}
@media screen and (min-width: 1366px) {
	.page-header__logo {
		margin-bottom: 102px;
	}
}
.page-header__logo-img {
	width: 50px;
	height: 26px;
}
@media screen and (min-width: 768px) {
	.page-header__logo-img {
		width: 57px;
		height: 31px;
	}
}
@media screen and (min-width: 1366px) {
	.page-header__down-block {
		display: flex;

	}
}
.page-header__text-block {
	width: 235px;
	margin: 0 auto;
}
@media screen and (min-width: 768px) {
	.page-header__text-block {
		width: 338px;
		margin: 0;
		text-align: left;
	}
}
@media screen and (min-width: 1366px) {
	.page-header__text-block {
		order: 2;
		margin-left: 102px;
	}
}
.text {
	font-size: 14px;
	color: #A07B50;
}
@media screen and (min-width: 768px) {
	.text {
		font-size: 16px;
	}
}
.page-header__main-title {
	margin-top: 5px;
	margin-bottom: 13px;
	font-size: 36px;
}
@media screen and (min-width: 768px) {
	.page-header__main-title {
		margin-top: 19px;
	}
}
@media screen and (min-width: 768px) {
	.page-header__main-title {
		font-size: 52px;
	}
}
.page-header__btn {
	margin-top: 34px;
}
@media screen and (min-width: 768px) {
	.page-header__btn {
		margin-top: 51px;
	}
}
@media screen and (min-width: 1366px) {
	.page-header__btn {
		margin-top: 46px;
	}
}
.button {
	display: inline-block;
	min-width: 141px;
	padding: 10px 17px;
	font-size: 12px;
	font-weight: 700;
	color: white;
	border: 1px solid #A07B50;
}
@media screen and (min-width: 768px) {
	.button {
		min-width: 200px;
		padding: 15px 35px;
		font-size: 14px;
	}
}
.page-header__social-list {
	display: none;
}
@media screen and (min-width: 768px) {
	.page-header__social-list {
		display: block;
	}
}
@media screen and (min-width: 768px) {
	.social-list {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 57px;
		margin-top: 52px;
	}
}
@media screen and (min-width: 1366px) {
	.social-list {
		position: relative;
		display: block;
		margin-top: 0;
		padding-top: 371px;
		padding-left: 26px;
	}
	.social-list::before {
		content: "";
		position: absolute;
		top: 268px;
		left: 42px;
		width: 1px;
		height: 77px;
		background-color: rgba(255, 255, 255, 0.61);
	}
}

/*!стили для pets*/
.pets {
	padding-top: 52px;
	padding-bottom: 20px;
	text-align: center;
}
@media screen and (min-width: 768px) {
	.pets {
		padding-top: 101px;
		padding-bottom: 50px;
	}
}
@media screen and (min-width: 1366px) {
	.pets {
		padding-top: 223px;
	}
}
.pets__title {
	margin-bottom: 20px;
}
.pets__text {
	margin: 0 auto 26px auto;
	width: 287px;
}
@media screen and (min-width: 768px) {
	.pets__text {
		margin-bottom: 40px;
		width: 516px;
		line-height: 1.7;
		font-weight: 300;
	}
}
@media screen and (min-width: 1366px) {
	.pets__text {
		margin-bottom: 37px;
	}
}
.pets__slider {
	margin-bottom: 39px;
}
@media screen and (min-width: 768px) {
	.pets__slider {
		margin-bottom: 586px;
	}
}
@media screen and (min-width: 1366px) {
	.pets__slider {
		margin-bottom: 44px;
	}
}
.slider {
	position: relative;
	max-width: 320px;
	margin: 0 auto;
}
@media screen and (min-width: 768px) {
	.slider {
		max-width: 768px;
	}
}
@media screen and (min-width: 1366px) {
	.slider {
		max-width: 1366px;
	}
}
.slider__list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 233px;
	margin: 0 auto 35px auto;
}
/* отрицательный margin для соответствия макету */
@media screen and (min-width: 768px) {
	.slider__item:first-child {
		margin-left: -15px;
	}
}
.slider__link {
	color: rgba(255, 255, 255, 0.2);
	font-weight: 500;
}
@media screen and (min-width: 768px) {
	.slider__link {
		font-size: 18px;
	}
}
.slider__link--current {
	color:rgb(255, 255, 255);
}
@media screen and (min-width: 768px) {
	.slider__img-block-wrapper {
		position: relative;
}
}
@media screen and (min-width: 1366px) {
	.slider__img-block-wrapper {
		display: grid;
		column-gap: 22px;
		row-gap: 33px;
		grid-template-columns: 519px 474px;
		width: 1015px;
		margin: 0 auto;
	}
}
.slider__img-block {
	display: none;
}
@media screen and (min-width: 768px) {
	.slider__img-block {
		position: absolute;
		display: block;
	}
}
@media screen and (min-width: 1366px) {
	.slider__img-block {
		position: static;
	}
}
.slider__img-block--current {
	display: block;
}
@media screen and (min-width: 768px) {
	.slider__img-block--current {
		z-index: 999;
		left: 135px;
		width: 475px;
		height: 495px;
	}
}
@media screen and (min-width: 1366px) {
	.slider__img-block--current {
		grid-column: 2 / 3;
		grid-row: 1 / 3;
	}
}
@media screen and (min-width: 768px) {
	.slider__img-block--right {
		top: 151px;
		right: 96px;
	}
	.slider__img-block--left {
		top: 151px;
		left: 70px;
	}
}
@media screen and (min-width: 768px) {
	.slider__img--current {
		object-position: 0 -49px;
}
}
.slider__toggle {
	position: absolute;
	width: 10px;
	height: 20px;
	padding: 0;
	border: none;
	background-color: transparent;
}
@media screen and (min-width: 768px) {
	.slider__toggle {
		width: 15px;
		height: 35px;
	}
}
@media screen and (min-width: 1366px) {
	.slider__toggle {
		display: none;
	}
}
.slider__toggle--prev {
	top: 173px;
	left: 13px;
}
@media screen and (min-width: 768px) {
	.slider__toggle--prev {
		top: 297px;
		left: 27px;
	}
}
.slider__toggle--next {
	top: 172px;
	right: 14px;
}
@media screen and (min-width: 768px) {
	.slider__toggle--next {
		top: 297px;
		right: 27px;
	}
}
.slider__toggle-img {
	width: 10px;
	height: 20px;
	background-color: transparent;
}
@media screen and (min-width: 768px) {
	.slider__toggle-img {
		width: 15px;
		height: 35px;
	}
}