/*!общие стили*/
html {
	box-sizing: border-box;
}
 *, *::before, *::after {
	box-sizing: inherit;
	padding-inline-start: 0;
}
.pets, .specials {
	background-color: #1F1C1D;
}
body {
	margin: 0;
	padding: 0;
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 16px;
	line-height: 1.5;
	font-weight: 400;
	font-style: normal;
	color: #ffffff;
	background-color: #181617; /*черный*/
	
}
ul {
	list-style-type: none;
	margin-block-start: 0;
	margin-block-end: 0;
}
p {
	margin-block-start: 0;
	margin-block-end: 0;
}
h1, h2 {
	font-family: "Yeseva One", "Times New Roman", serif;
	font-size: 28px;
	line-height: 1.2;
	font-weight: 400;
	font-style: normal;
	color: #ffffff;
	margin-block-start: 0;
	margin-block-end: 0;
}
@media screen and (min-width: 768px) {
	h2 {
		font-size: 36px;
	}
}
a {
	text-decoration: none;
}
img {
	max-width: 100%;
	height: auto;
}
.visually-hidden {
	width: 1px;
	height: 1px;
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute;
}

/*!стили для header*/
.page-header {
	max-width: 320px;
	margin: 0 auto;
	padding-bottom: 276px;
	background: url('../img/header-bkg-mobile.png') no-repeat right bottom;
}
@media screen and (min-width: 768px) {
	.page-header {
		max-width: 768px;
		margin: 0 auto;
		padding-bottom: 0;
		background: url('../img/header-bkg-tablet.png') no-repeat right bottom;
	}
}
@media screen and (min-width: 1366px) {
	.page-header {
		max-width: 1366px;
		background: url('../img/header-bkg-display.png') no-repeat right bottom;
	}
}
.page-header__inner-wrapper {
	padding-top: 25px;
	text-align: center;
}
@media screen and (min-width: 1366px) {
	.page-header__inner-wrapper {
		padding-top: 43px;
	}
}
@media screen and (min-width: 768px) {
	.page-header__inner-wrapper {
		padding-left: 43px;
		padding-bottom: 40px;
	}
}
@media screen and (min-width: 1366px) {
	.page-header__inner-wrapper {
		padding-bottom: 58px;
	}
}
.page-header__logo {
	display: block;
	margin-bottom: 43px;
}
@media screen and (min-width: 768px) {
	.page-header__logo {
		margin-left: -45px; 
		margin-bottom: 83px;
	}
}
@media screen and (min-width: 1366px) {
	.page-header__logo {
		margin-bottom: 102px;
	}
}
.page-header__logo-img {
	width: 50px;
	height: 26px;
}
@media screen and (min-width: 768px) {
	.page-header__logo-img {
		width: 57px;
		height: 31px;
	}
}
@media screen and (min-width: 1366px) {
	.page-header__down-block {
		display: flex;

	}
}
.page-header__text-block {
	width: 235px;
	margin: 0 auto;
}
@media screen and (min-width: 768px) {
	.page-header__text-block {
		width: 338px;
		margin: 0;
		text-align: left;
	}
}
@media screen and (min-width: 1366px) {
	.page-header__text-block {
		order: 2;
		margin-left: 102px;
	}
}
.text {
	font-size: 14px;
	color: #A07B50;
}
@media screen and (min-width: 768px) {
	.text {
		font-size: 16px;
	}
}
.page-header__main-title {
	margin-top: 5px;
	margin-bottom: 13px;
	font-size: 36px;
}
@media screen and (min-width: 768px) {
	.page-header__main-title {
		margin-top: 19px;
	}
}
@media screen and (min-width: 768px) {
	.page-header__main-title {
		font-size: 52px;
	}
}
.page-header__btn {
	margin-top: 34px;
}
@media screen and (min-width: 768px) {
	.page-header__btn {
		margin-top: 51px;
	}
}
@media screen and (min-width: 1366px) {
	.page-header__btn {
		margin-top: 46px;
	}
}
.button {
	display: inline-block;
	min-width: 141px;
	padding: 10px 17px;
	font-size: 12px;
	font-weight: 700;
	color: white;
	border: 1px solid #A07B50;
}
@media screen and (min-width: 768px) {
	.button {
		min-width: 200px;
		padding: 15px 35px;
		font-size: 14px;
	}
}
.page-header__social-list {
	display: none;
}
@media screen and (min-width: 768px) {
	.page-header__social-list {
		display: block;
	}
}
@media screen and (min-width: 768px) {
	.social-list {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 57px;
		margin-top: 52px;
	}
}
@media screen and (min-width: 1366px) {
	.social-list {
		position: relative;
		display: block;
		margin-top: 0;
		padding-top: 371px;
		padding-left: 26px;
	}
	.social-list::before {
		content: "";
		position: absolute;
		top: 268px;
		left: 42px;
		width: 1px;
		height: 77px;
		background-color: rgba(255, 255, 255, 0.61);
	}
}

/*!стили для блока Питомцы*/
.pets {
	padding-top: 52px;
	padding-bottom: 20px;
	text-align: center;
}
@media screen and (min-width: 768px) {
	.pets {
		padding-top: 101px;
		padding-bottom: 50px;
	}
}
@media screen and (min-width: 1366px) {
	.pets {
		padding-top: 223px;
	}
}
.pets__title {
	margin-bottom: 20px;
}
.pets__text {
	margin: 0 auto 26px auto;
	width: 287px;
}
@media screen and (min-width: 768px) {
	.pets__text {
		margin-bottom: 40px;
		width: 516px;
		line-height: 1.7;
		font-weight: 300;
	}
}
@media screen and (min-width: 1366px) {
	.pets__text {
		margin-bottom: 37px;
	}
}
.pets__slider {
	margin-bottom: 39px;
}
@media screen and (min-width: 768px) {
	.pets__slider {
		margin-bottom: 586px;
	}
}
@media screen and (min-width: 1366px) {
	.pets__slider {
		margin-bottom: 44px;
	}
}
.slider {
	position: relative;
	max-width: 320px;
	margin: 0 auto;
}
@media screen and (min-width: 768px) {
	.slider {
		max-width: 768px;
	}
}
@media screen and (min-width: 1366px) {
	.slider {
		max-width: 1366px;
	}
}
.slider__list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 233px;
	margin: 0 auto 35px auto;
}
/* отрицательный margin для соответствия макету */
@media screen and (min-width: 768px) {
	.slider__item:first-child {
		margin-left: -15px;
	}
}
.slider__link {
	color: rgba(255, 255, 255, 0.2);
	font-weight: 500;
}
@media screen and (min-width: 768px) {
	.slider__link {
		font-size: 18px;
	}
}
.slider__link--current {
	color:rgb(255, 255, 255);
}
@media screen and (min-width: 768px) {
	.slider__img-block-wrapper {
		position: relative;
}
}
@media screen and (min-width: 1366px) {
	.slider__img-block-wrapper {
		display: grid;
		column-gap: 22px;
		row-gap: 33px;
		grid-template-columns: 519px 474px;
		width: 1015px;
		margin: 0 auto;
	}
}
.slider__img-block {
	display: none;
}
@media screen and (min-width: 768px) {
	.slider__img-block {
		position: absolute;
		display: block;
	}
}
@media screen and (min-width: 1366px) {
	.slider__img-block {
		position: static;
	}
}
.slider__img-block--current {
	display: block;
}
@media screen and (min-width: 768px) {
	.slider__img-block--current {
		z-index: 999;
		left: 135px;
		width: 475px;
		height: 495px;
	}
}
@media screen and (min-width: 1366px) {
	.slider__img-block--current {
		grid-column: 2 / 3;
		grid-row: 1 / 3;
	}
}
@media screen and (min-width: 768px) {
	.slider__img-block--right {
		top: 151px;
		right: 96px;
	}
	.slider__img-block--left {
		top: 151px;
		left: 70px;
	}
}
@media screen and (min-width: 768px) {
	.slider__img--current {
		object-position: 0 -49px;
}
}
.slider__toggle {
	position: absolute;
	width: 10px;
	height: 20px;
	padding: 0;
	border: none;
	background-color: transparent;
}
@media screen and (min-width: 768px) {
	.slider__toggle {
		width: 15px;
		height: 35px;
	}
}
@media screen and (min-width: 1366px) {
	.slider__toggle {
		display: none;
	}
}
.slider__toggle--prev {
	top: 173px;
	left: 13px;
}
@media screen and (min-width: 768px) {
	.slider__toggle--prev {
		top: 297px;
		left: 27px;
	}
}
.slider__toggle--next {
	top: 172px;
	right: 14px;
}
@media screen and (min-width: 768px) {
	.slider__toggle--next {
		top: 297px;
		right: 27px;
	}
}
.slider__toggle-img {
	width: 10px;
	height: 20px;
	background-color: transparent;
}
@media screen and (min-width: 768px) {
	.slider__toggle-img {
		width: 15px;
		height: 35px;
	}
}

/*!стили для блока Особенности породы*/
.specials {
	padding-top: 31px;
	padding-bottom: 36px;
}
@media screen and (min-width: 768px) {
	.specials {
		padding-top: 42px;
		padding-bottom: 0;
	}
}
@media screen and (min-width: 1366px) {
	.specials {
		padding-top: 34px;
		padding-bottom: 0;
	}
}
.specials__title {
	width: 190px;
	margin: 0 auto 20px auto;
	text-align: center;
}
@media screen and (min-width: 768px) {
	.specials__title {
		width: 100%;
		margin-bottom: 22px;
	}
}
@media screen and (min-width: 1366px) {
	.specials__title {
		margin-bottom: 20px;
		padding-left: 23px;
	}
}
.specials__text {
	width: 276px;
	margin: 0 auto 22px auto;
	text-align: center;
}
@media screen and (min-width: 768px) {
	.specials__text {
		width: 447px;
		margin-bottom: 0;
	}
}
@media screen and (min-width: 1366px) {
	.specials__text {
		width: 744px;
	}
}
@media screen and (min-width: 768px) {
	.specials__wrapper {
		position: relative;
		max-width: 768px;
		margin: 0 auto;
	}
}
@media screen and (min-width: 1366px) {
	.specials__wrapper {
		max-width: 1366px;
	}
}
.specials__img-wrapper {
	position: relative;
	text-align: center;
	margin-bottom: 40px;
}
/* отрицательный margin для соответствия макету*/
@media screen and (min-width: 768px) {
	.specials__img-wrapper {
		margin-top: -6px;
		margin-bottom: 0;
	}
}
@media screen and (min-width: 1366px) {
	.specials__img-wrapper {
		margin-top: -58px;
		padding-left: 46px;
	}
}
.specials__img-wrapper::after {
	content: "";
	position: absolute;
	top: 164px;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 230px;
	height: 230px;
	background-color: #151313;
	border-radius: 50%;
	outline: 0.5px solid #A07B50;
	outline-offset: 24px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	z-index: 1;
}
@media screen and (min-width: 768px) {
	.specials__img-wrapper::after {
		top: 302px;
		left: 51%;
		transform: translate(-51%, -50%);
		width: 342px;
		height: 348px;
		outline-offset: 36px;
	}
}
@media screen and (min-width: 1366px) {
	.specials__img-wrapper::after {
		top: 450px;
		left: 52%;
		transform: translate(-52%, -50%);
		width: 519px;
		height: 519px;
		outline-offset: 55px;
	}
}
@media screen and (min-width: 768px) {
	.specials__img-block {
		padding-left: 40px;
}
}
.specials__img {
	position: relative;
	width: 267px;
	height: 291px;
	z-index: 2;
}
@media screen and (min-width: 768px) {
	.specials__img {
		width: 410px;
		height: 611px;
	}
}
@media screen and (min-width: 1366px) {
	.specials__img {
		width: 623px;
		height: 908px;
	}
}
.specials__list-wrapper {
	max-width: 320px;
	margin: 0 auto;
}
@media screen and (min-width: 768px) {
	.specials__list-wrapper {
		max-width: none;
		margin: 0;
	}
}
.specials__list {
	width: 287px;
	padding-left: 33px;
	font-size: 14px;
	font-weight: 300;
}
@media screen and (min-width: 768px) {
	.specials__list {
		width: 100%;
		font-size: 16px;
	}
}
.specials__item {
	position: relative;
	margin-bottom: 18px;
}
@media screen and (min-width: 768px) {
	.specials__item {
		position: absolute;
		margin-bottom: 0;
	}
}
.specials__item::before {
	content: "";
	position: absolute;
	top: 6px;
	left: -18px;
	display: block;
	width: 8px;
	height: 8px;
	background-color: #A07B50;
	border-radius: 50%;
}
@media screen and (min-width: 768px) {
	.specials__item--first {
		top: 180px;
		left: 54px;
		width: 136px;
		font-size: 14px;
		text-align: right;
	}
	.specials__item--first::before {
		width: 10px;
		height: 10px;
		top: 6px;
		left: 152px;
	}
	.specials__item--second {
		top: 255px;
		right: 7px;
		width: 153px;
	}
	.specials__item--second::before {
		width: 10px;
		height: 10px;
		top: 3px;
		left: -22px;
	}
	.specials__item--third {
		top: 400px;
		right: 28px;
		width: 156px;
	}
	.specials__item--third::before {
		width: 10px;
		height: 10px;
		top: 6px;
		left: -22px;
	}
	.specials__item--fourth {
		top: 372px;
		left: 43px;
		width: 136px;
		text-align: right;
	}
	.specials__item--fourth::before {
		width: 10px;
		height: 10px;
		top: 6px;
		left: 148px;
	}
}
@media screen and (min-width: 1366px) {
	.specials__item--first {
		top: 268px;
		left: 169px;
		width: 233px;
	}
	.specials__item--first::before {
		width: 15px;
		height: 15px;
		top: 6px;
		left: 256px;
	}
	.specials__item--second {
		top: 377px;
		right: 146px;
		width: 183px;
	}
	.specials__item--second::before {
		width: 15px;
		height: 15px;
		top: 3px;
		left: -36px;
	}
	.specials__item--third {
		top: 598px;
		right: 209px;
		width: 157px;
	}
	.specials__item--third::before {
		width: 15px;
		height: 15px;
		top: 6px;
		left: -34px;
	}
	.specials__item--fourth {
		top: 553px;
		left: 198px;
		width: 186px;
	}
	.specials__item--fourth::before {
		width: 15px;
		height: 15px;
		top: 6px;
		left: 203px;
	}
}
.br-tablet {
	display: none;
}
@media screen and (min-width: 768px) {
	.br-tablet {
		display: block;
	}
}
@media screen and (min-width: 1366px) {
	.br-tablet {
		display: none;
	}
}
@media screen and (min-width: 768px) {
	.br-mobile {
		display: none;
}
}

/* !стили для блока Почему именно мы?*/
.benefits {
	padding: 53px 15px 60px 15px;
	text-align: center;
}
@media screen and (min-width: 768px) {
	.benefits {
		padding: 76px 0 60px;
	}
}
@media screen and (min-width: 1366px) {
	.benefits {
		padding-top: 41px;
		padding-bottom: 96px;
	}
}
.benefits__title {
	width: 185px;
	margin: 0 auto 20px auto;
}
@media screen and (min-width: 768px) {
	.benefits__title {
		width: 100%;
	}
}
.benefits__text {
	margin-bottom: 34px;
}
@media screen and (min-width: 768px) {
	.benefits__text {
		margin-bottom: 60px;
	}
}
@media screen and (min-width: 1366px) {
	.benefits__text {
		margin-bottom: 49px;
	}
}
.benefits__list-block {
	max-width: 320px;
	margin: 0 auto;
}
@media screen and (min-width: 768px) {
	.benefits__list-block {
		max-width: 360px;
	}
}
@media screen and (min-width: 1366px) {
	.benefits__list-block {
		max-width: none;
	}
}
@media screen and (min-width: 1366px) {
	.benefits__list {
		display: flex;
		justify-content: space-between;
		width: 1145px;
		margin: 0 auto;
	}
}
.benefits__item {
	width: 290px;
	min-height: 248px;
	margin-bottom: 30px;
	padding-top: 40px;
	background-color: #1F1C1D;
	border: 15px solid #1F1C1D;
}
@media screen and (min-width: 768px) {
	.benefits__item {
		width: 360px;
		min-height: 306px;
		margin: 0 auto 43px auto;
		padding-top: 50px;
		border-top-width: 17px;
		border-right-width: 20px;
		border-bottom-width: 17px;
		border-left-width: 20px;
	}
}
@media screen and (min-width: 1366px) {
	.benefits__item {
		min-height: 301px;
		margin: 0;
		padding-top: 45px;
	}
}
.benefits__item:nth-child(2) {
	padding-top: 47px;
}
.benefits__item:last-child {
	margin-bottom: 0;
}
.benefits__item--current {
	background-color: #A07B50;
}
.benefits__link {
}
.benefits__img {
	margin-bottom: 7px;
}
@media screen and (min-width: 768px) {
	.benefits__img {
		margin-bottom: 25px;
	}
}
.benefits__img--steth {
	width: 80px;
	height: 88px;
}
.benefits__img--hours {
	width: 80px;
	height: 71px;
}
.benefits__img--food {
	width: 57px;
	height: 88px;
}
@media screen and (min-width: 768px) {
	.benefits__img--steth {
		width: 98px;
		height: 109px;
	}
	.benefits__img--hours {
		width: 107px;
		height: 97px;
		margin-bottom: 41px;
	}
	.benefits__img--food {
		width: 70px;
		height: 110px;
		margin-bottom: 30px;
	}
}
@media screen and (min-width: 1366px) {
	.benefits__img--hours {
		margin-bottom: 38px;
	}
	.benefits__img--food {
		margin-bottom: 26px;
	}
}
.benefits__item-text {
	font-size: 14px;
	font-weight: 300;
	color: white;
}
@media screen and (min-width: 768px) {
	.benefits__item-text {
		width: 233px;
		margin: 0 auto;
		font-size: 16px;
	}
}
.benefits__item-text--hours {
	width: 196px;
	margin: 0 auto;
}
@media screen and (min-width: 768px) {
	.benefits__item-text--hours {
		width: 224px;
	}
}
.benefits__item-text--food {
	width: 164px;
	margin: 0 auto;
}
@media screen and (min-width: 768px) {
	.benefits__item-text--food {
		width: 187px;
	}
}

/* !стили для блока Об уходе за Мейн-Куном*/
.care {
	padding-top: 52px;
	padding-bottom: 31px;
	text-align: center;
	background: url('../img/care-back_mobile.jpg') no-repeat center center;
	background-size: cover;
}
@media (min-resolution: 2dppx) {
	.care {
		background-image: url('../img/care-back_mobile@2x.jpg');
	}
}
@media screen and (min-width: 768px) {
	.care {
		padding-top: 136px;
		padding-bottom: 127px;
		background: url('../img/care-back_tablet.jpg') no-repeat center center;
		background-size: cover;
	}
}
@media screen and (min-width: 768px) and (min-resolution: 2dppx) {
	.care {
		background-image: url('../img/care-back_tablet@2x.jpg');
	}
}
@media screen and (min-width: 1366px) {
	.care {
		padding-top: 85px;
		padding-bottom: 96px;
		background: url('../img/care-back_desktop.jpg') no-repeat center center;
		background-size: cover;
	}
}
@media screen and (min-width: 1366px) and (min-resolution: 2dppx) {
	.care {
		background-image: url('../img/care-back_desktop@2x.jpg');
	}
}
.care__title {
	margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
	.care__title {
		margin-bottom: 39px;
	}
}
@media screen and (min-width: 1366px) {
	.care__title {
		margin-bottom: 48px;
	}
}
@media screen and (min-width: 768px) {
	.care__rule-wrapper {
		padding-left: 15px;
	}
}
@media screen and (min-width: 1366px) {
	.care__rule-wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		row-gap: 40px;
		width: 1160px;
		margin: 0 auto;
		padding-left: 0;
	}
}
.care__rule {
	display: block;
	margin: 0 auto 30px auto;
}
@media screen and (min-width: 768px) {
	.care__rule {
		margin-bottom: 23px;
	}
}
@media screen and (min-width: 1366px) {
	.care__rule {
		margin: 0;
	}
}
.rule {
	position: relative;
	width: 290px;
	padding: 20px 54px 20px 24px;
	text-align: left;
	background-color: rgba(0, 0, 0, 0.3);
	border: 1px solid #A07B50;
}
@media screen and (min-width: 768px) {
	.rule {
		width: 559px;
		padding: 37px 58px 48px 50px;
	}
}
@media screen and (min-width: 1366px) {
	.rule {
		padding-left: 59px;
		padding-bottom: 45px;
	}
}
.rule::after {
	content: "";
	position: absolute;
	top: -1px;
	right: -1px;
	width: 46px;
	height: calc(100% + 2px);
	background: #A07B50 url(../svg/care-string.svg) no-repeat center center;
	background-size: 10px 20px;
}
@media screen and (min-width: 768px) {
	.rule::after {
		width: 59px;
		background-size: 12px 24px;
	}
}
@media screen and (min-width: 768px) {
	.rule--eyes {
		padding-bottom: 29px;
	}
}
@media screen and (min-width: 1366px) {
	.rule--eyes {
		order: 3;
	}
}
@media screen and (min-width: 1366px) {
	.rule--claws {
		order: 2;
	}
}
@media screen and (min-width: 768px) {
	.rule--food {
		padding-bottom: 27px;
	}
}
@media screen and (min-width: 1366px) {
	.rule--food {
		order: 4;
	}
}
.rule__wrapper {
}
.rule__title {
	margin-bottom: 10px;
	font-size: 18px;
	font-weight: 700;
	line-height: 1.16;
	color: #A07B50;
}
@media screen and (min-width: 768px) {
	.rule__title {
		font-size: 22px;
	}
}
.rule__text {
	width: 211px;
	font-size: 14px;
	line-height: 1.4;
	font-weight: 300;
	color: white;
}
@media screen and (min-width: 768px) {
	.rule__text {
		width: 389px;
		line-height: 1.6;
	}
}
.rule__text--claws {
	width: 162px;
}
@media screen and (min-width: 768px) {
	.rule__text--claws {
		width: 382px;
	}
}